@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    background-color:#e5e5e5;
}

body, html {
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Tabs */

.tabs{
    padding-top: 109px;
    padding-bottom: 109px;
}

.tabs__header__menu{
    position: relative;
}

.menu__nav-item{
    display: inline-block;
    text-align: center;
    width: 205px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#333333;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.menu__nav-item:hover, .menu__nav-item.active{
    border: 1px solid #C6CBCD;
    border-bottom:none;
    background:#e5e5e5;
    position: relative;
    z-index: 9;
    top: 2px;
}

.menu__nav-item:not(.active):hover{
    cursor: pointer;
}

.tabs__content{
    border: 1px solid #C6CBCD;
    display: flex;
}

.content__left__title{
    font-family: 'Open sans', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
}

.content__left__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align:left;
    margin-bottom: 50px;
    line-height: 21px;
    }

.content__left__button{
    background-color: #EC7979;
    color:#FFFFFF;
    padding: 15px 20px;
    width: 270px;
    height: 58px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border:none;
}

.tabs__content__left{
    padding: 70px 30px 50px 100px;
}

.content__right__pic{
    width: 470px;
    height: 500px;
} */

.tabs__content__right{
max-width: 100%;
max-height: 100%;
}

.content__left__button:hover{
    cursor: pointer;
    background-color:pink;
}

/* Awersome */

.about{
    padding-top: 109px;
    padding-bottom: 109px;
}
.about__main-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.separator--red-color{
    border: 1px solid #EC7979;
    width: 170px;
    margin: 60px auto 40px;
    }

.about__secondary-title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #86878B;
    font-weight: 400;
}

.about__list{
    margin-top: 110px;
    margin-bottom: 58px;
    display: flex;
}

.list-item__title{
    font-family:'Open sans', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.list-item__image--wrapper{
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.list-item__image{
    border: 1px solid #EC7979;
    border-radius: 50%;
    width: 95px;
    height: 95px;
}

.list-item__descr{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    }