@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    font-style: normal;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-title{
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 50px;
    padding-top: 100px;
    z-index: 10;
}

.main-title::before{
    position: absolute;
    content:"";
    width: 170px;
    height: 1px;
    bottom: 0;
    background: #EC7979;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.secondary-title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #86878B;
    font-weight: 400;
    padding-top: 40px;
    z-index: 10;
}

/* Header */

header {
    width: 1510px;
    background-color:#000;
}

.header-block{
    padding-top:21px;
    padding-bottom: 21px;
}

.header-logo{
    width: 770px;
    padding-left: 115px;
}

.header-block{
    display: flex;
}

.navigation-list__item{
    display: inline-block;
    text-align: center;
    width: 114px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0;
}

.navigation-list__item a{
    color: #FFFFFF;
}

.navigation-list__item a:hover{
    color:#EC7979;
}

/* Desktop */

.desktop-block{
    width: 1510px;
    background-image:url("../img/desktop.svg");
    position: relative;
    z-index: 1;
}

.desktop-block::before{
    content:"";
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
}

.desktop-block__info{
    padding-top: 306px;
    padding-left: 170px;
    position: relative;
    z-index: 3;
}

.info__logo--wrapper{
    display: flex;
    width: 165px;
    height: 65px;
}

.info__logo{
    width: 100%;
    height: 100%;
}

.info__title{
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    color:#FFFFFF;
    margin-top:72px;
    padding-bottom: 55px;
    position: relative;
    width: 670px;
}

.info__title::after{
    position: absolute;
    content:"";
    width: 170px;
    height: 1px;
    background: #FFFFFF;
    bottom: 0;
    left: 0;
}

.info__secondary-title{
    width: 270px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    padding-top: 42px;
    margin-bottom: 42px;
}

.info__button{
    padding: 15px 20px;
    width: 270px;
    height: 58px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border:1px solid #FFFFFF;
    background:transparent;
    color:#FFFFFF;
    margin-bottom: 175px;
}

.info__button:hover{
    color: #EC7979;
    border:1px solid #EC7979;
    cursor: pointer;
}

/* Social Media */

.social-media__block{
    width: 1510px;
    background-color:#F8EFEF;
    display: flex;
}

.social-media__info{
    width: 470px;
    margin-left: 170px;
    margin-bottom: 18px;
}

.social-media__info-title{
    font-family: 'Open sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color:#333333;
    margin-top: 18px;
    margin-bottom: 36px;
}

.social-media__info-text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #86878B;
    font-weight: 400;
}

.icons-list{
    padding-top: 47px;
    padding-left: 40px;
}

.icons-list__item{
    display: inline-block;
    padding-right: 45px;
}

.icons-list__item i{
    color: #CCCCCC;
    font-size: 55px;
}

.icons-list__item i:hover{
    color:#EC7979;
}

/* Tabs */

.tabs{
    padding-top: 109px;
    padding-left: 80px;
}

.menu__nav-item{
    display: inline-block;
    text-align: center;
    width: 205px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#333333;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.menu__nav-item:hover, .menu__nav-item.active{
    border: 1px solid #C6CBCD;
    border-bottom:none;
    background:white;
    position: relative;
    z-index: 9;
    top: 2px;
    margin-right: -5px;
}

.menu__nav-item:not(.active):hover{
    cursor: pointer;
}

.tabs__content{
    border: 1px solid #C6CBCD;
    display: flex;
}

.tabs__content__left{
    padding: 70px 30px 50px 100px;
}

.content__left__title{
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
}

.content__left__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align:left;
    margin-bottom: 50px;
    line-height: 21px;
    }

.content__left__button{
    background-color: #EC7979;
    color:#FFFFFF;
    padding: 15px 20px;
    width: 270px;
    height: 58px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border:none;
}

.content__right__pic{
    width: 470px;
    height: 500px;
    display: block;
}

.tabs__content__right{
max-width: 100%;
max-height: 100%;
}

.content__left__button:hover{
    cursor: pointer;
    background-color:pink;
}

/* About */

.about{
    padding-left: 80px;
}

.about__list{
    margin-top: 110px;
    margin-bottom: 58px;
    display: flex;
}

.list__list-item{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.list-item__title{
    font-family:'Open sans', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.list-item__image--wrapper{
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EC7979;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    overflow: hidden;
}

.list-item__descr{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    }

/* Pricing */

.pricing{
    background-color:#f5f5f5;
    padding-left: 80px;
    width: 1510px;
}

.pricing-block{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 0 -15px;
}

.pricing-block__block-list{
    margin: 0 15px;
}

.block-list__element{
    width: 370px;
    color:#86878B;
    background-color:#FFFFFF;
    border-bottom: 2px solid #f5f5f5;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
}

.block-list__element--rate{
    background-color:#333333;
    color:#FFFFFF;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 15px 0;
}

.block-list__element--cost{
    background-color:#333333;
    color:#FFFFFF;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    padding: 25px 0;
}

.block-list__element--text{
    background-color:#333333;
    color:#FFFFFF80;
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 0;
}

.block-list:hover{
    box-shadow:2px 2px 8px grey;
    top: -15px;
    position: relative;
    cursor: pointer;
}

/* Reviews */

.reviews{
    padding-left: 80px;
}

.opinion{
    display: flex;
    padding-top: 83px;
    padding-bottom: 54px;
    margin: 0 -15px;
}

.opinion__text{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    background-color: #E2E2E2;
    color:#86878B;
    border-radius: 10px;
    margin: 0 15px;
    padding: 38px 22px;
}

.opinion__text::before{
    position: absolute;
    content:"";
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    top:100%;
    left: 20%;
}

.opinion__customer-info{
    display: flex;
    padding-top: 66px;
    padding-left: 15px;
}

.customer-info__data{
    padding-left: 30px;
}

.data__name{
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 15px 0;
}

.data__post{
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

/* Banner */

.banner-block{
    width: 1510px;
    background-image:url("../img/banner.svg");
    position: relative;
    z-index: 1;
}

.banner-block::before{
    content:"";
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
}

.banner-block .main-title{
    color:#FFFFFF;
}

.main-title::after{
    position: absolute;
    content:"";
    width: 170px;
    height: 1px;
    bottom: 0;
    background: #FFFFFF;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.banner-block .secondary-title{
    position: relative;
    color:#FFFFFF;
    margin-bottom: 73px;
    z-index: 15;
}

.banner-block .info__button{
    width: 370px;
    z-index: 15;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
}

/* Footer */

footer{
    width: 1510px;
    background-color:#000;
}

.footer-icons__list{
    padding: 40px 0 32px 485px;
}
.footer-icons__list-item{
    display: inline-block;
    margin-right: 45px;
}

.footer-icons__list-item i{
    color: #CCCCCC;
    font-size: 45px;
}

.footer-icons__list-item i:hover{
    color:#EC7979;
}

.footer-icons__text{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF80;
    padding-bottom: 27px;
}